@import "tailwindcss";

@theme {

    /* background colours */
    --color-page-bg: #0e0e10;
    --color-card-bg: #18181b;
    --color-elevated-bg: #222226;
    --color-borders-bg: #2c2c32;
    --color-hover-bg: #3a3a42;

    /* typography */
    --color-primary-text: #f2f2f3;
    --color-secondary-text: #9898a6;
    --color-muted-text: #55555f;

    /* accents */
    --color-primary: #7f77dd;
    --color-primary-hover: #726bc6;
    --color-secondary: #2dd4a0;
    --color-warning: #45c518;
    --color-danger: #ff6b6b;
}